# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/src/test/resources/Chart.song/
/test.sh
/src/main/kotlin/chart/difficulty/tempScripts.kt
/.temp/
/node_modules/
/website/
/docs/.vuepress/dist/
/docs/reference/
